<!DOCTYPE html>
<html ng-app="theApp">
<head>
	<meta charset="UTF-8">
	<title>List of Puzzle Games</title>
	<link rel="stylesheet" type="text/css" href="lib/foundation.min.css">
  <style>
    #list-container{
      display: block;
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 200px;
    }
    #list-container li, #list-container ul{
      margin-bottom: 0.1rem!important;

    }
    #list-container ul{
      border-bottom: 1px solid black;
    }
  </style>
  	<script src="lib/jquery.min.js"></script>
  	<script src="lib/angular.min.js"></script>
  	<script src="lib/foundation.min.js"></script>
	<script src="dist/bundle.min.js"></script>
</head>
<body >
<div class="row">
<div class="small-12 medium-6 columns">
	<div id="list-container" ng-controller="listController">
    <ul id="list" ng-repeat="item in list" ng-cloack>
      <li>{{item}}</li>
    </ul>
		<h2>Debug data</h2>
		<h4 ng-cloack>{{data}}</h4>
	</div><!-- list-container -->
    <button href="#" ng-click="getAll()">Get all</button>
    <button ng-click="get();">Get 1</button>
    <button ng-click="update()">Update 1</button>
    <button ng-click="add()">Add 1</button>
    <button ng-click="del()">Delete 1</button>
  </div><!-- columns -->
  <div class="small-12 medium-6 columns">
    <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
        Off Canvas Content
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
      <button type="button" class="button" data-toggle="offCanvas">Open Menu</button>
        <h4>Content</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div><!-- columns -->
</div><!-- row -->
		





</body>
</html>