<!DOCTYPE html>
<html ng-app="theApp">
<head>
	<meta charset="UTF-8">
	<title>List of Puzzle Games</title>
	<link rel="stylesheet" type="text/css" href="node_modules/foundation-sites/dist/foundation.css">
	<script src="dist/bundle.min.js"></script>
</head>
<body >
	<div id="list-container" ng-controller="listController">
    <ul id="list" ng-repeat="item in list" ng-cloack>
      <li>{{item}}</li>
    </ul>
		<h2>Debug data</h2>
		<h4 ng-cloack>{{data}}</h4>
	</div>
		
		
		<button href="#" ng-click="getAll()">Get all</button>
		<button ng-click="get();">Get 1</button>
		<button ng-click="update()">Update 1</button>
		<button ng-click="add()">Add 1</button>
		<button ng-click="del()">Delete 1</button>


<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <a class="left-off-canvas-toggle" href="#" >Menu</a>

    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu">
        <!-- whatever you want goes here -->
        <ul>
          <li><a href="#">Item 1</a></li>
        </ul>
    </aside>

    <!-- main content goes here -->
    <p>Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>

  <!-- close the off-canvas menu -->
  <a class="exit-off-canvas"></a>

  </div>
</div>
</body>
</html>