<!DOCTYPE html>
<html ng-app="theApp">
<head>
	<meta charset="UTF-8">
	<title>List of Puzzle Games</title>
	<link rel="stylesheet" type="text/css" href="lib/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  	<script src="lib/jquery.min.js"></script>
  	<script src="lib/angular.min.js"></script>
  	<script src="lib/foundation.min.js"></script>
	<script src="js/bundle.min.js"></script>
</head>
<body ng-controller="listController">
  <div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
      <h5>Who made this?</h5>
      <hr>
      <br>
      <p class="text-center">
      <a href="http://ipotaje.es" target="_blank">
      <img src="img/ipotaje.png">
      </a>
      </p>
    </div><!-- off-canvas position-left -->
    <div class="off-canvas-content" data-off-canvas-content>
    <!-- content -->
    <!-- title-bar -->
      <div class="title-bar">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-open="offCanvas"></button>
        </div><!-- title-bar-left -->
        <div class="title-bar-title">List of Puzzle Games</div>
      </div>
    <!-- title-bar -->
    <div class="row hide-for-small-only">&nbsp;
    </div>
    <div class="row">
      <div class="small-12 medium-6 medium-offset-3 columns">
        <div id="list-container" class="callout small">
          <div class="input-group">
            <input class="input-group-field" type="text"></input>
            <a class="input-group-button button success">Search</a>
            <a class="input-group-button button Success">Add</a>
          </div>
                  <ul id="list" ng-repeat="item in list" ng-cloack>
                    <li class="clearfix">
                      <div class="li_item">{{item}}</div>
                      <button class="float-right tiny button alert"><i class="fi-x"></i></button>
                      <button class="float-right tiny button success"><i class="fi-pencil"></i></button>                        
                    </li>
                  </ul>
      </div><!-- list-container -->
      <button class="button large float-right"><i class="fi-refresh"></i></button>
      </div><!-- columns -->
    </div><!-- row -->
    <div class="row">
      <br><br><br>
      &nbsp;
      <button class="button large hollow alert" ng-init="showDebug = true" ng-click="showDebug = !showDebug"><i class="fi-eye"></i>&nbsp;&nbsp;Debug data</button>
      <div id="debug-data" class="callout small" ng-show="showDebug">
        <h4 ng-cloack>{{data}}</h4>
      </div><!-- row -->
    </div>
      <!-- content -->
      </div><!-- off-canvas-content -->
    </div><!-- off-canvas-wrapper-inner -->
  </div><!-- off-canvas-wrapper -->
</body>
</html>