
    #list-container{
      box-shadow: 0 0 5px grey;
    }
    #list-container-list{
      display: block;
      height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-bottom: 8px;
      border-bottom: 1px dotted grey;        
    }
    #list-container li, #list-container ul{
      margin-bottom: 0.1rem!important;

    }
    #list-container ul{
      border-bottom: 1px dashed grey;
    }
    .tiny.button{
      margin: 0;
      vertical-align: bottom;
    }
    .small-12{
      padding:0;
    }
    .off-canvas{
      padding: 10px;
      background: #FFFFFF;
    }
    .li_item{
      display: inline-block;
      max-width: 250px;
    }
    .input-group{
      margin-bottom: 0;
    }